.tree-level-arrow {
    width: 16px;
    height: 19px;
    float: left;
    cursor: pointer;
}

.tree-level-close {
    background: transparent
    url("++resource++publication_images/navigation.png") no-repeat
    scroll 0 1px;
}

.tree-level-close:hover {
    background: transparent
    url("++resource++publication_images/navigation.png") no-repeat
    scroll 0 -16px;
}

.tree-level-open {
    background: transparent
    url("++resource++publication_images/navigation.png") no-repeat
    scroll 0 -32px;
}

.tree-level-open:hover {
    background: transparent
    url("++resource++publication_images/navigation.png") no-repeat
    scroll 0 -48px;
}
/* used by frontpage.css */
.figure-left {
    float: left;
    margin-right: 0.5em;
}
/* /used by frontpage.css */
.publicationText {
    background-color: transparent;
    border-bottom: 1px dotted gray;
    margin-bottom: 1em;
    padding-bottom: 1em;
    clear: right;
    margin-left: 0;
}

.publicationDescription {
    margin-bottom: 0;
}

.publicationField {
    margin-bottom: 0.5em;
}

.publicationOrder {
    margin: 2em 0;
}

.publicationClear {
    clear: left ! important;
    margin-top: 1em ! important;
}

.publicationText #auto-related {
    padding: 1em;
    margin: 1em 1em 0 0;
}

dl.publicationMessage {
    background-color: #f3f3f3;
}

dl.publicationMessage dt.portletHeader {
    background-image: none;
}

dl.publicationMessage dd {
    clear: both;
}

/* Overrides for PDF Viewer */

.portaltype-report #region-content {
    background-color: #ffffff;
    padding: 1.5em;
}

.portaltype-report #content .report-pdf {
    display: block;
    float: left;
    width: 68%;
}

.portaltype-report #content .publicationDescription {
    display: block;
    width: 30%;
    float: right;
}

.portaltype-report #content .report-files {
    display: inline-block;
}

.portaltype-report #content .inline-content-header {
    display: block;
    width: 30%;
    float: right;
}

.portaltype-report #content .publicationText {
    border-bottom: none;
}

.portaltype-report #content .content-header .panel-content #languageCodes {
    display: block;
}

.portaltype-report #content .content-header .documentFirstHeading,
.portaltype-report #content .content-header #languageCodes,
.portaltype-report #content .content-header .documentByLine {
    display: none;
}

.portaltype-report #content .content-header #article-language {
    margin-top: 7%;
}

.portaltype-report #content .inline-content-header #article-language {
    display: none;
}

.portaltype-report #content .content-header #tip-article-language {
    margin-top: 6%;
}

.portaltype-report #content .documentDescription {
    float: right;
    width: 30%;
}

.portaltype-report #content .moreFiles {
    display: block;
    float: right;
    width: 30%;
    margin-top: 2em;
}

.portaltype-report #content-core p,
.portaltype-report #content-core li {
    font-size: 115%;
}

.portaltype-report #content .eea-tabs-panel .page {
    margin-left: 0;
}

.portaltype-report #content #languageCodes li {
    font-size: inherit;
}

.portaltype-report #content .pdfjs #toolbarViewerMiddle {
    left: 57%;
}

.portaltype-report #content .publicationHidden {
    display: none;
}

.portaltype-report #content .documentByLine {
    max-width: 100%;
}

#content .report-pdf {
    margin-left: 0;
}

html[dir='ltr'] .portaltype-report #content .pdfjs .findbar {
    left: 7%;
}

.portaltype-report #region-content .pdf-viewer-disabled .publicationDescription,
.portaltype-report #region-content .pdf-viewer-disabled .documentDescription,
.portaltype-report #region-content .pdf-viewer-disabled .inline-content-header {
    width: 100%;
    float: none;
}

.portaltype-report #region-content .pdf-viewer-disabled .moreFiles {
    display: none;
}

.portaltype-report #region-content .pdf-viewer-disabled > .content-header #tip-article-language {
    margin-top: 25%;
}

.portaltype-report #region-content .pdf-viewer-disabled > .content-header #article-language {
    margin-top: 28%;
}

.portaltype-report #content-core > div > .portalMessage {
    width: 84%;
}

@media (max-width: 840px) {
    html[dir='ltr'] .portaltype-report #content .pdfjs #outerContainer.sidebarOpen>#mainContainer {
        left: 20%;
        width: 80% !important;
    }

    html[dir='ltr'] .portaltype-report #content .pdfjs #outerContainer>#mainContainer {
        width: 100% !important;
    }

    html[dir='ltr'] #content .pdfjs .splitToolbarButton:first-child,
    html[dir='ltr'] #content .pdfjs .toolbarButton:first-child,
    html[dir='rtl'] #content .pdfjs .splitToolbarButton:last-child,
    html[dir='rtl'] #content .pdfjs .toolbarButton:last-child {
        margin-left: 0;
    }
}

@media screen and (max-width: 767px) {
    .portaltype-report #content .publicationText .inline-content-header,
    .portaltype-report #content .publicationText .documentFirstHeading,
    .portaltype-report #content .publicationText .publicationDescription,
    .portaltype-report #content .documentDescription,
    .portaltype-report #content .publicationText .moreFiles {
        display: none;
    }

    .portaltype-report #content .content-header {
        display: block;
    }

    .portaltype-report #content .publicationText .report-pdf {
        float: none;
        width: 100%;
    }

    .portaltype-report #content .publicationText .report-files {
        display: block;
    }

    .portaltype-report #content .publicationHidden {
        display: block;
    }

    .portaltype-report #content .publicationText .hiddenDesc {
        display: block;
        float: none;
        width: 100%;
    }
}

@media (max-width: 425px) {
    .portaltype-report #content-core > div > .portalMessage {
        width: 75%;
    }
}