.tree-level-arrow {
    width: 16px;
    height: 19px;
    float: left;
    cursor: pointer;
}

.tree-level-close {
    background: transparent
    url("++resource++publication_images/navigation.png") no-repeat
    scroll 0 1px;
}

.tree-level-close:hover {
    background: transparent
    url("++resource++publication_images/navigation.png") no-repeat
    scroll 0 -16px;
}

.tree-level-open {
    background: transparent
    url("++resource++publication_images/navigation.png") no-repeat
    scroll 0 -32px;
}

.tree-level-open:hover {
    background: transparent
    url("++resource++publication_images/navigation.png") no-repeat
    scroll 0 -48px;
}
/* used by frontpage.css */
.figure-left {
    float: left;
    margin-right: 0.5em;
}
/* /used by frontpage.css */
.publicationText {
    background-color: transparent;
    border-bottom: 1px dotted gray;
    margin-bottom: 1em;
    padding-bottom: 1em;
    clear: right;
    margin-left: 0;
}

.publicationDescription {
    margin-bottom: 0;
}

.publicationField {
    margin-bottom: 0.5em;
}

.publicationOrder {
    margin: 2em 0;
}

.publicationClear {
    clear: left ! important;
    margin-top: 1em ! important;
}

.publicationText #auto-related {
    padding: 1em;
    margin: 1em 1em 0 0;
}

dl.publicationMessage {
    background-color: #f3f3f3;
}

dl.publicationMessage dt.portletHeader {
    background-image: none;
}

dl.publicationMessage dd {
    clear: both;
}

/* Overrides for PDF Viewer */

.portaltype-report #region-content {
    background-color: #ffffff;
    padding: 1.5em;
}

.portaltype-report #content .report-pdf {
    display: block;
    float: left;
    width: 66%;
}

.portaltype-report #content .publicationDescription {
    display: block;
    width: 30%;
    float: right;
}

.portaltype-report #content .report-files {
    display: inline-block;
}

.portaltype-report #content .inline-content-header {
    display: block;
    width: 30%;
    float: right;
}

.portaltype-report #content .content-header {
    display: none;
}

.portaltype-report #content .documentDescription {
    margin-right: 14%;
    float: right;
}

.portaltype-report #content .moreFiles {
    display: block;
    float: right;
    width: 30%;
    margin-top: 2em;
}

.portaltype-report #content-core p,
.portaltype-report #content-core li {
    font-size: 115%;
}

.portaltype-report #content .eea-tabs-panel .page {
    margin-left: 0;
}

.portaltype-report #content .languageCodes li {
    font-size: inherit;
}

.portaltype-report #content .pdfjs #toolbarViewerMiddle {
    left: 57%;
}

.portaltype-report #content .publicationHidden {
    display: none;
}

@media screen and (max-width: 767px) {
    .portaltype-report #content .publicationText .inline-content-header,
    .portaltype-report #content .publicationText .documentFirstHeading,
    .portaltype-report #content .publicationText .publicationDescription,
    .portaltype-report #content .documentDescription,
    .portaltype-report #content .publicationText .moreFiles {
        display: none;
    }

    .portaltype-report #content .content-header {
        display: block;
    }

    .portaltype-report #content .publicationText .report-pdf {
        float: none;
        width: 100%;
    }

    .portaltype-report #content .publicationText .report-files {
        display: block;
    }

    .portaltype-report #content .publicationHidden {
        display: block;
    }

    .portaltype-report #content .publicationText .hiddenDesc {
        display: block;
        float: none;
        width: 100%;
    }
}